accelerate
bitsandbytes
boto3
botocore
datasets
hf_transfer
jsonlines
matplotlib
nltk
numpy
pandas
protobuf
pytorch_lightning
rake_nltk
rapidfuzz
rouge_score
seaborn
sentencepiece
torch
tqdm
transformers